@import "reset.scss";
@import "wpi.scss";

/* Global styles */
$background: url('/static/img/grey_wash_wall.png');
$width: 960px;
$main-padding: 32px;

$header-shadow: #333;
$nav-font-size: 12px;

html, body {
	height: 100%;
}

body:before { 
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

body {
	background: $grey $background;
	font-family: $wpi-font-family;
}

strong {
	font-weight: bold;
}

section {
	margin-bottom: 16px;
}

h2 {
	font-size: 1.25em;
	font-weight: bold;
}

h3 {
	font-weight: bold; 
}

a {
	text-decoration: none;
}

.wrap {
	max-width: $width;
	min-height: 100%;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 1px 1px 8px 1px #000;
}

.clear {
	clear: both;
}

#header {
	background-color: $black;
}

#header-content {
	padding: 8px;
	color: #fff;
}

#logo {
	width: 48px;
	vertical-align: middle;
}

#title {
	display: inline-block;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	line-height: 50%;
}

.navbar {
	width: $width;
	background-color: darken($cardinal, 5%);
	font-size: 0;
	li {
		display: inline;
		margin: 0; 
	}
}

.nav {	
	display: inline-block;
	margin: 0;
	padding: 8px;
	background-color: $cardinal;
	color: #fff;
	font-size: $nav-font-size;
	text-decoration: none;
}

.nav:hover, .active.nav {
	background-color: darken($cardinal, 10%);
}

#main {
	padding: $main-padding;
	font-size: .85em;
	line-height: 140%;
}

.correct {
	color: #0f0;
	background-color: #efe;
	padding: 8px;
	border: 1px #0f0 solid;
}

.error {
	color: #f00;
	background-color: #fee;
	padding: 8px;
	border: 1px #f00 solid;
}

.ad {
	margin-top: 32px;
}

#sponsor {
	width: 480px;
}

#hackerrank {
	width: 128px;
}
