<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ACM Programming Competition</title>
	{% if extra_style -%}{% for style in extra_style -%}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/{0}.css'.format(style)) }}">
	{% endfor -%}
	{% else -%}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{% endif -%}
</head>
<body>
	<div class="wrap">
		<header id="header">
			<div id="header-content">
				<img id="logo" src="{{ url_for('static', filename='img/acmlogo.png') }}" alt="WPI ACM">
				<span id="title">Programming Competition</span>
			</div>
			<ul class="navbar">
				{% if not navigation_bar -%}{% set navigation_bar = [
					('index', 'Home'),
					('challenges', 'Challenges'),
					('leaderboards', 'Leaderboards'),
					('logout', 'Log out as {0}'.format(current_user))
				] -%}{% endif -%}
				{% set active_page = active_page|default('index') -%}
				{% for id, caption in navigation_bar -%}
					<li><a href="{{ url_for(id)|e }}" class="{% if id == active_page %}active {% endif %}nav">{{ caption|e }}</a></li>
				{% endfor -%}
			</ul>
		</header>
		<div id="main">
			{% block main %}
			{% endblock main %}
			<div class="ad">
				<p>Sponsored by:</p>
				<a href="http://http://careers.microsoft.com/"><img id="sponsor" src="{{ url_for('static', filename='img/microsoft.png') }}" alt="Microsoft, Inc."></a>
			</div>
			<div class="ad">
				<p>Powered by:</p>
				<a href="http://hackerrank.com/api"><img id="hackerrank" src="{{ url_for('static', filename='img/hackerranklogo_green.png') }}" alt="HackerRank"></a>
			</div>
		</div>
	</div>
	<!-- Made by the WPI ACM chapter. http://acm.wpi.edu/ -->
</body>
</html>
