{% extends "base.html" %}
{% set extra_style = ["index"] %}
{% set active_page = "home" %}

{% block main %}
<section>
	<h2>How It Works</h2>
	<ol id="how-it-works">
		<li>Read challenge.</li>
		<li>Write code to read from stdin, solve challenge, and print to stdout.</li>
		<li>???</li>
		<li>PROFIT!</li>
	</ol>
</section>
<section>
	<h2>Rules</h2>
	<ul id="rules">
		<li>Don't try to break the system.</li>
		<li>One person per username.</li>
		<li>Submit original code only (no reusing old code for entire solution).</li>
		<li>Don't just print the stdin, solve it manually, and write code that prints the solution.</li>
	</ul>
</section>
<section>
	<h2>Boring Details</h2>
	<ul id="details">
		<li>Problems are ranked separately according to Development Speed, Speed Efficiency and Memory Efficiency.</li>
		<li>Development Speed is ranked by order of first correct submission for each challenge.</li>
		<li>Speed Efficiency is ranked by total execution time across all test cases (measured in seconds).</li>
		<li>Memory Efficiency is ranked by total memory allocated during all all test cases (measured using HackerRank's black box).</li>
		<li>You can submit an unlimited number of times, but only correct solutions will be counted for points.</li>
		<li>Submitting with "Test" will give you helpful feedback with compiling/runtime errors and how much memory you're using.</li>
		<li>Submitting with "Submit" will run our official input (never shown to you).</li>
		<li>For each category, 100 points are awarded to the first place winner, 200 points to the second, etc. (minimum 50 points)</li>
		<li>Points in the Efficiency categories may change as people continue to submit solutions.</li>
		<li>Each challenge has a different multipliers for points earned in each category. Harder challenges will have higher multipliers.</li>
		<li>Final prizes are given out ranked on overall score.</li>
		<li>We use an API called <a href="https://www.hackerrank.com/api">Hacker Rank</a>, which we reveresed engineered and are pretty sure uses a standard Amazon AWS EC2 running Ubuntu. Details about the <a href="https://www.hackerrank.com/environment">code environment here</a>.</li>
	</ul>
</section>
<section>
	<h2>Available Languages</h2>
	<p>{{ langs }}</p>	
</section>
<section>
	<h2>Prizes</h2>
	<p>Prizes are as follows:</p>
	<ul id="prizes">
		<li>1st place: $200 Amazon Gift Card</li>
		<li>2nd place: $100 Amazon Gift Card</li>
		<li>3rd place: $50 Amazon Gift Card</li>
	</ul>
</section>
{% endblock main %}