{% extends "base.html" %}
{% set extra_style = ["leaderboards"] %}
{% set active_page = "leaderboards" %}

{% block main %}
<section>
	<h2>Overall</h2>
	<table class="leaderboard">
		<thead>
			<tr>
				<th colspan="2">Username</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			{% for i, user in leaders -%}
			<tr>
				<td class="place">{{ i }}</td>
				<td class="username">{{ user }}</td>
				<td class="points">{{ user.get_points() }}</td>
			</tr>
			{% endfor -%}
		</tbody>
	</table>
</section>
{% for challenge in challenges -%}
<section class="challenge-leaderboard">
	<h2>{{ challenge.name }}</h2>
	{% for name, section in challenge.leaderboards.iteritems() %}
	<div class="challenge-leaderboard-section">
		<h3>{{ name }}</h3>
		<table class="leaderboard">
			<thead>
				<tr>
					<th colspan="2">Username</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				{% for i, user, points in section -%}
				<tr>
					<td class="place">{{ i }}</td>
					<td class="username">{{ user }}</td>
					<td class="points">{{ points }}</td>
				</tr>
				{% endfor -%}
			</tbody>
		</table>	
	</div>
	{% endfor %}
	<div class="clear"></div>
</section>
{% endfor -%}
{% endblock main %}